.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.block {
  display: block;
  margin-left: 10%;
  width: 80%;
  height: 5em;
  border: none;
  background-color: white;
  padding: 0px 0px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 6px 0 rgba(0,0,0,0.19);
}

.xlabel{
  margin-left: 2%;
  width: 38px;
  border-bottom: black;
  border-bottom-width: 1px;
  text-align: left;
}

.bigblock {
  display: block;
  margin-left: 10%;
  width: 80%;
  border: none;
  background-color: white;
  padding: 0px 0px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 6px 0 rgba(0,0,0,0.19);
}

.mini-block {
  display: block;
  margin-left: 30%;
  width: 60%;
  height: 5em;
  border: none;
  background-color: white;
  padding: 0px 0px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 6px 0 rgba(0,0,0,0.19);
}

input {
  border: 2px solid grey;
  border-radius: 4px;
  width: 7em;
  height: 2em;
}

.medium {
  width: 16%;
  text-align: center;
}

.small {
  width: 15%;
  text-align: center;
}

.big {
  width: 30%;
}

.column {
  float: left;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.delete {
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.bar {
  float: left;
  position: relative;
  display: block;
  opacity: 10%;
  height: 100%;
  border: none;
  background-color: gray;
  cursor: pointer;
}

.progress-bar {
  float: left;
  position: absolute;
  display: block;
  opacity: 10%;
  height: 240px;
  border: none;
  background-color: lightgreen;
  cursor: pointer;
}

.space {
  float: left;
  position: relative;
  display: block;
  opacity: 10%;
  height: 100%;
  border: none;
  cursor: pointer;
}


.grid{
  border: black;
  border-width: 1px;
  border-style: solid;
  background-size: 80px 30px;
  width: 960px;
  height: 240px;
  margin-left: 5%;
  margin-right: 5%;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}